<!DOCTYPE html>
<html lang="ja" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CRUD Todo</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
        <style>
            .done {
                opacity: .3;
                text-decoration: line-through;
            }

            .edit {
                display: none;
            }

            .editing .edit {
                display: inline;
            }

            .error {
                color: #900;
                font-weight: bold;
                font-size: 0.8em;
                margin-left: 10px;
            }

        </style>
    </head>
    <body class="h-full">
        <div id="app" class="py-40 bg-gray-100 h-full">
            <div class="max-w-2xl mx-auto overflow-hidden bg-white shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-base font-semibold leading-6 text-gray-900">{{ state.title }}</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Build a Todo List App with VueJS</p>
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-col-auto sm:px-6">
                            <div v-if="state.error" class="error py-5 px-5 mb-3 inline-flex text-center tracking-widest rounded bg-red-100 text-red-800">{{ state.errorMessage }}</div>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <span class="px-10 inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">Todo</span>
                                <input type="text" v-model="state.newMsg" @keyup.enter="addTodo" autofocus name="company-website" id="company-website" class="p-4 border block w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Todo Message">
                            </div>
                        </div>
                        <div v-for="(todo, index) in state.todos" :class="{done: todo.completed, editing: todo === state.editObj, ['bg-gray-100']: (index % 2) === 0}" :key="todo.id" class="px-4 py-5 sm:grid sm:grid-cols-3 sm:grid-cols-9 sm:gap-4 sm:px-6">
                            <dt class="text-sm pl-10 mt-3 font-medium text-gray-400 sm:col-span-3">{{ todo.id }} <input type="checkbox" v-model="todo.completed" class="ml-4 h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"></dt>
                            <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-4">
                                <label @dblclick="editTodo(todo)" class="mt-1 text-2xl font-bold"> {{ todo.msg }} </label>
                                <input class="edit mt-1 ml-4 p-2 border border-gray-600 form-input w-auto transition duration-150 ease-in-out sm:text-sm sm:leading-5" v-model="state.editMsg" @keyup.enter="updateTodo(todo)">
                            </dd>
                            <dd class="sm:mt-0 sm:col-span-2">
                                <button @click="deleteTodo(todo)" class="inline-flex justify-center items-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-6 mr-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg> Delete </button>
                            </dd>
                        </div>
                        <div v-if="existsTodo()" class="bg-white px-4 py-5 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-6">
                            <dt class="px-10 py-5 text-sm font-medium text-gray-400 sm:col-span-3">登録件数</dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:col-span-9 sm:mt-0">
                                <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
                                    <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                        <div class="flex w-0 flex-1 items-center">
                                            <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184" />
                                            </svg>
                                            <span class="ml-2 w-0 flex-1 text-center truncate text-gray-400 text-2xl font-bold">{{ todoCount() }}</span>
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            <a href="#" class="font-medium text-gray-400">個</a>
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            Vue.createApp({
                setup() {
                    const state = Vue.reactive({
                        title: 'CRUD Todo',
                        newMsg: '',
                        todos: [],
                        editObj: null,
                        editMsg: '',
                        error: false,
                        errorMessage: '※ 値を入力してください'
                    })
                    Vue.onMounted(() => {
                        getTodos()
                    })
                    const addTodo = () => {
                        if (!state.newMsg) {
                            state.error = true
                            return
                        }
                        state.todos.push({
                            id: (new Date()).getTime().toString().slice(-4),
                            completed: false,
                            msg: state.newMsg
                        })
                        state.newMsg = ''
                        state.error = false
                        addTodos()
                    }
                    const editTodo = (todoObj) => {
                        state.editObj = todoObj
                        state.editMsg = todoObj.msg
                    }
                    const updateTodo = (todoObj) => {
                        todoObj.msg = state.editMsg
                        state.editObj = null
                        state.editMsg = ''
                        addTodos()
                    }
                    const deleteTodo = (todoObj) => {
                        const delIndex = state.todos.indexOf(todoObj)
                        state.todos.splice(delIndex, 1)
                        addTodos()
                    }
                    const addTodos = () => {
                        localStorage.setItem('todos', JSON.stringify(state.todos))
                    }
                    const getTodos = () => {
                        const todos = localStorage.getItem('todos')
                        if (todos) {
                            state.todos = JSON.parse(todos)
                        }
                    }
                    const existsTodo = () => {
                        return state.todos.length > 0
                    }
                    const todoCount = () => {
                        return state.todos.length.toString()
                    }
                    return { state, addTodo, editTodo, updateTodo, deleteTodo, existsTodo, todoCount }
                }
            }).mount('#app')
        </script>
    </body>
</html>
